// required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// bootstrap own version of normalize. It suits bootstrap rules better than normalize
@import '~bootstrap/scss/reboot';

// bootstrap grid
@import 'node_modules/bootstrap/scss/grid';

// bootstrap components with your custom styles
@import 'bootstrap/import';

@import 'fonts';

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
  }
  &.menu {
    li {
      width: 100px;
    }
  }
}
